# Source/Styles/*
.vscode/styles
.vale

# Hugo ignores
.site/public
**/resources/_gen
**/.hugo_build.lock
**/node_modules

# Test ignores
**/*.Results.xml

# Ignore C# build artifacts
samples/csharp/bin
samples/csharp/obj
samples/csharp/.vs

# Ignore any compiled windows binary
*.exe
*.dll