<div class="flex flex-wrap justify-between">
    <sl-button variant="text" href="https://github.com/PowerShell/DSC-Samples/blob/main/LICENSE-CODE">
        Code License
    </sl-button>
    <sl-button variant="text" href="https://github.com/PowerShell/DSC-Samples/blob/main/LICENSE">
        Prose License
    </sl-button>
    <sl-button variant="text" href="https://learn.microsoft.com/en-us/legal/termsofuse">
        Terms of Use
    </sl-button>
    <sl-button variant="text" href="https://go.microsoft.com/fwlink/?LinkId=521839">
        Privacy Policy
    </sl-button>
    <sl-button variant="text" href="https://github.com/PowerShell/DSC-Samples/blob/main/CODE_OF_CONDUCT.md">
        Code of Conduct
    </sl-button>
</div>
